body{
  background: url(../img/img7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav{
float: right;
padding: 10px;
}

.contsolido{
  background-color: #ff66b3;
  height: 190px;
  position: fixed;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  border-bottom: 3px solid pink;
}

h4{
  font-family: 'Pacifico', cursive;
  float: left;
  margin-top: 100px;
  border-bottom: 3px solid green;
  color: black;
}

.img-social{
  width: 55px;
  margin-top: 10px;
}

.redes{
  border-right: 1px solid white;
  text-align: center;
}

.card{
  margin-left: 45px !important;
}

footer{
  border-top: 1px solid gray;
  text-align: center;
  color: white;
}


@media (max-width: 768px){
  .nav{
  text-align: center;
  padding: 10px;
  }

  .redes{
    border-right: 0px solid white;
    text-align: center;
  }

  h4{
    font-family: 'Pacifico', cursive;
    margin-top: 0px;
    text-align: right;
    border-bottom: 3px solid green;
    color: black;
  }

  .card{
    margin-left: 0px !important;
  }
}

@media (max-width: 992px){
  .nav{
  text-align: center;
  padding: 10px;
  }

  .redes{
    border-right: 0px solid white;
    text-align: center;
  }

  h4{
    font-family: 'Pacifico', cursive;
    margin-top: 40px;
    text-align: right;
    border-bottom: 3px solid green;
    color: black;
  }

  .card{
    margin-left: 0px !important;
  }
}
